node_modules/
dist/

.env
.env.local
*.log

dev-server*.log
webpack*.log
pdf-server*.log
.share-configs/

public/**/*.blend
public/**/*.blend1
public/**/*.zip
public/**/*.tiff
public/**/*.tif
public/**/*.obj
public/**/*.mtl
public/**/*.usdc
public/**/*.tres
public/**/*.bak
texture-source-files/
